<form method="post" action="/landmarks">
  <h4> Landmark Name:<input id="landmark_name" type="text" name="landmark[name]"> </h4>
  <h4> Year Completed:<input id="landmark_year_completed" type="datetime" name="landmark[year_completed]"> </h4>
  <input id="Create New Landmark" type="submit" value="submit">
</form>
